.header {
	position: fixed;
	top: 0;
	width: calc(1200px - 20px);
	background: #dad8d8;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	gap: 20px;
	padding: 10px;
}

.header a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin: 0 15px;
}

.userName {
	margin-right: 15px;
}

.cartWrapper {
	position: relative;
	display: inline-block;
}

.cartBadge {
	position: absolute;
	top: -6px;
	right: -16px;
	background: red;
	color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
