.column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	width: 1200px;
	background-color: white;
	margin: 0 auto;
	margin-top: 80px;
	position: relative;
}
