.input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 15px;
	width: 100%;
	margin: 0 auto;
	transition:
		border-color 0.2s,
		background 0.2s,
		box-shadow 0.2s;
}

.inputError {
	border-color: #ff6b6b;
	background: #fff0f0;
}
