.wrapper {
	display: flex;
	gap: 30px;
	padding: 0 40px 20px 40px;
	align-items: flex-start;
}

.statusTd {
	width: 150px;
}

.photoTd {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 120px;
}
