.image {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 8px;
	flex-shrink: 0;

	float: left;
	margin-right: 16px;
	margin-bottom: 12px;
}

.row {
	display: flex;
	gap: 12px;
	align-items: flex-start;
}

.quantityInput {
	padding: 6px;
	width: 60px;
}

.textBlock {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.productActions {
	display: flex;
	align-items: flex-start;
	border-top: 1px solid #eee;
	flex-direction: column;
	gap: 12px;
	margin-top: 16px;
}
