.modal {
	position: fixed;
	inset: 0;
	z-index: 20;
	border: none;
	padding: 0;
	background: transparent;
}

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

.box {
	margin: auto;
	position: relative;
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid black;
	width: 400px;
	padding: 0 20px 20px 20px;
	z-index: 30;
	top: 50%;
	transform: translateY(-50%);
}

.buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}
